/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

h1 {
  color: #fff;
}

#output {
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  
  > div.teamCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    width: 250px;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 6px;
    transition: 0.4s;
    > h3{
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
    > span{
      font-size: 16px;
      transition: 0.4s;
    }
    > span:hover{
      text-shadow: 1px 1px 3px #8b8b8b;
    }
    > button{
      width: max-content;
      font-size: 14px;
      padding: 2px 5px;
      border: none;
      background-color: #ffffff;
      transition: 0.4s;
    }
    > button:hover{
      cursor: pointer;
      background-color: #b3b3b3;
    }
  }
  > div.teamCard:hover{
    background-color: #d9d9d9;
  }
}

dialog{
  width: 400px;
  height: 650px;
  margin: auto;
  border-radius: 15px;
  border: none;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    > span:hover{
      font-weight: bold;
    }
  }
  > h3{
    text-align: center;
  }
  > button{
    width: max-content;
    align-self: center;
    padding: 5px 20px;
    font-size: 14px;
    border: none;
    background-color: #d8d8d8;
    transition: 0.4s;
  }
  > button:hover{
    cursor: pointer;
    background-color: #b3b3b3;
  }

}